.App {
  text-align: center;
  box-sizing: border-box;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home-page {
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-bottom: 10px; */
  text-align: center;
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
}

.search-bar{
  display: flex;
  justify-content: center;
  align-items: center;
  height:10vh; 
  opacity: 50%;
}

.backArrow{
  width:auto;
  height:80px;
}

.card {
  width: 100%;
  height: 200px;
  background: #333;
  color: #fff;
  font-size: 30px;
  margin: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .2s ease-in-out;
}

.card:hover {
  transform: scale(1.1);
}

.search-logo {
  padding-top: 200px;
}

.carousel {
  padding-top: 100px;
}

/* square buttons */
.rec.rec-arrow {
  border-radius: 0;
  color: orange;
  background-color: orangered;
}
/* round buttons on hover */
.rec.rec-arrow:hover {
  border-radius: 50%;
  color: orange;
  background-color: orangered;
}

/* hide disabled buttons */
.rec.rec-arrow:disabled {
  visibility: hidden;
}

.details-display {
  background-color: #111;
}

.project-container {
  background-color: #111;
  height: 90vh;
  margin-top: 20px;
  color: orange;
  position: relative;
}

.card-text {
  background-color: orange;
}

.resource-container {
  padding-top: 20px;
}

.save-button {
  position: absolute;
  top: 15px;
  right: 15px;
  color: white;
  background-color: orange;
  border-radius: 25px;
}

.present-button {
  position: absolute;
  top: 15px;
  left: 15px;
  color: white;
  background-color: orange;
  border-radius: 25px;
}


.pcard {
  height: 150px;
  width: auto;
  background-color: white;
  border-radius: 25px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  text-align: center;
  transition: all .2s ease-in-out;
}

.pcard:hover {
  transform: scale(1.03);
}

.pcard-img {
  max-width:100%;
  max-height:100%;
}

.pcard-text {
  padding-top: 25px;
  color: black;
}

.pcard-button {
  color: black;
  background-color: orange;
  border-radius: 25px;
}


.exit-button {
  color: white;
  background-color: orange;
  border-radius: 25px;
  position: absolute;
  left: 15px;
}

.modal-container { 
  position: relative;
}

.modal-image {
  height: 1000px;
  width: auto;
}

.project-carousel {
  padding-top: 50px;
}
