.App {
  text-align: center;
  box-sizing: border-box;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home-page {
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-bottom: 10px; */
  text-align: center;
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
}

.sign-in-container {
  padding-top: 100px;
}

.search-bar-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height:10vh; 
  opacity: 40%;
}

.search-bar-input {
  width: 300px;
  border-radius: 25px;
  outline-width: 0;
}

.backArrow{
  width:auto;
  height:80px;
}

.card {
  width: 100%;
  height: 200px;
  background-color: #111;
  color: #333;
  font-size: 30px;
  margin: 0 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .2s ease-in-out;
}

.card-img {
  max-width:100%;
  max-height:100%;
  background-color: #111;
  color: #333;
}

.card:hover {
  transform: scale(1.1);
}

.search-logo {
  padding-top: 150px;
}

.carousel {
  padding-top: 100px;
}

/* square buttons */
.rec.rec-arrow {
  border-radius: 0;
  color: orange;
  background-color: orangered;
}
/* round buttons on hover */
.rec.rec-arrow:hover {
  border-radius: 50%;
  color: orange;
  background-color: orangered;
}

/* hide disabled buttons */
.rec.rec-arrow:disabled {
  visibility: hidden;
}

button.rec-dot {
  color: white;
}

.details-display {
  background-color: #111;
  height: inherit;
  color: white;
  position: relative;
}

.project-container {
  /* background-color: #111; */
  /* background-color: #00FFFFFF; */
  color: white;
  position: relative;
  padding-bottom: 20px;
  min-height: 1200px;
}

.card-text {
  background-color: orange;
}

.resource-container {
  padding-top: 20px;
}

.save-button {
  position: absolute;
  top: 15px;
  right: 15px;
  color: white;
  background-color: orange;
  border-radius: 25px;
}

.present-button {
  position: absolute;
  top: 15px;
  left: 15px;
  color: white;
  background-color: orange;
  border-radius: 25px;
}


.pcard {
  height: 150px;
  width: auto;
  background-color: white;
  border-radius: 25px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  text-align: center;
  transition: all .2s ease-in-out;
  position: relative;
  border: 10px solid #111;
}

.pcard:hover {
  transform: scale(1.03);
}

.pcard-img {
  max-width: 200px;
  max-height: auto;
}

.pcard-text {
  padding-top: 20px;
  color: black;
  text-overflow: clip;
}

.pcard-button {
  color: black;
  background-color: orange;
  border-radius: 25px;
  position: absolute;
  bottom: 10px;
  right: 420px;
  height: 20px;
  font-size: 12px;
}

.edit-form {
  padding-top: 25px;
}

.delete-button {
  margin-top: 10px;
  background-color: orange;
  color: white;
}


.exit-button {
  color: white;
  background-color: orange;
  border-radius: 25px;
  position: absolute;
  left: 15px;
}

..modal-container { 
  position: relative;
}

.modal-image {
  height: 1000px;
  width: auto;
}

.project-carousel {
  padding-top: 50px;
}

.exit-display-button {
  color: white;
  background-color: orange;
  border-radius: 25px;
  position: absolute;
  top: 15px;
  right: 15px;
  }

.exit-display-button:hover {
  border-top-color: #0a1b26;
  background: #0a1b26;
  color: #f5edf5;
  }
  
.exit-display-button:active {
  border-top-color: #131b21;
  background: #131b21;
  }

  .save-project-btn {
    margin-bottom: 50px;
  }

  .navbar {
    color: black;
  }

  body {
    height: 100vh;
  }

.nav-button {
  border-top: 1px solid #000000;
  background: #17181a;
  background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#17181a));
  background: -webkit-linear-gradient(top, #000000, #17181a);
  background: -moz-linear-gradient(top, #000000, #17181a);
  background: -ms-linear-gradient(top, #000000, #17181a);
  background: -o-linear-gradient(top, #000000, #17181a);
  padding: 6px 12px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
  -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
  box-shadow: rgba(0,0,0,1) 0 1px 0;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  color: #fafffa;
  font-size: 22px;
  font-family: Helvetica, Arial, Sans-Serif;
  text-decoration: none;
  vertical-align: middle;
  text-decoration: none;
  }
.button:hover {
  border-top-color: #751116;
  background: #751116;
  color: #ccc;
  }
.button:active {
  border-top-color: #7d0a13;
  background: #7d0a13;
  }
